---
# Source: https://github.com/pharmaverse/admiralci
# Common workflows designed for Admiral
# but can be easily used by any other R package
name: Admiral Workflows

on:
  # 'workflow_dispatch' gives you the ability
  # to run this workflow on demand, anytime
  workflow_dispatch:
  # 'push' events are triggered when commits
  # are pushed to one of these branches
  push:
    branches:
      - main
      - devel
      - pre-release
      - test
  # 'pull_request' events are triggered when PRs are
  # created against one of these target branches.
  pull_request:
    branches:
      - main
      - devel
      - pre-release
      - test
  # 'release' events are triggered when...
  # you guessed it - when releases are made.
  release:
    types: [published]
  schedule:
    - cron: "21 13 * * 1,3,5"

# Docs on concurrency:
# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: admiral-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    uses: pharmaverse/admiralci/.github/workflows/r-cmd-check.yml@main
    if: github.event_name == 'pull_request'
    with:
      # Control how you want the errors to manifest
      # by supplying the 'error_on' parameter to
      # rcmdcheck::rcmdcheck() here.
      error-on: warning
  docs:
    name: Documentation
    uses: pharmaverse/admiralci/.github/workflows/pkgdown.yml@main
    if: github.event_name == 'push'
    with:
      r-version: 3.6
      # Whether to skip multiversion docs
      # Note that if you have multiple versions of docs,
      # your URL links are likely to break due to path changes
      skip-multiversion-docs: false
      # Ref to use for the multiversion docs landing page
      multiversion-docs-landing-page: main
